---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>

			<h1>Hello, Vistor!</h1>

			<div class="hero-image">
				<img width="100%" src="/kubelka.jpg" alt="" />
			</div>

			<p>
				Welcome to my personal website. I'm Ehsun Ahmadi, a software engineer working on building cryptographically secure systems. There's gonna be a bunch of cool stuff here soon, so stay tuned!
			</p>
			<p>
				For now, you can check out my <a href="http://github.com/ehsunahmadi">github</a> oto see what I am working on.
			</p>
		</main>
		<Footer />
	</body>
</html>
